- name: Install RPM Fusion
  become: true
  ansible.builtin.dnf:
    name: "{{ item }}"
    state: present
    disable_gpg_check: true
  loop:
    - "https://mirrors.rpmfusion.org/free/fedora/rpmfusion-free-release-42.noarch.rpm"
    - "https://mirrors.rpmfusion.org/nonfree/fedora/rpmfusion-nonfree-release-42.noarch.rpm"

- name: Enable fedora-cisco-openh264 repository
  become: true
  ansible.builtin.yum_repository:
    name: fedora-cisco-openh264
    metalink: "https://mirrors.fedoraproject.org/metalink?repo=fedora-cisco-openh264-$releasever&arch=$basearch"
    description: "Fedora $releasever openh264 (From Cisco) - $basearch"
    gpgkey: "file:///etc/pki/rpm-gpg/RPM-GPG-KEY-fedora-$releasever-$basearch"

- name: Enable nordvpn repository
  become: true
  ansible.builtin.yum_repository:
    name: nordvpn
    description: "nordvpn"
    baseurl: "https://repo.nordvpn.com/yum/nordvpn/centos/x86_64"

- name: Import nordvpn gpg key
  become: true
  ansible.builtin.rpm_key:
    key: "https://repo.nordvpn.com/gpg/nordvpn_public.asc"

- name: Install dnf plugins
  become: true
  ansible.builtin.package:
    name: dnf-plugins-core

- name: Add Docker CE repository for Fedora
  become: true
  ansible.builtin.command: 
    cmd: dnf-3 config-manager --add-repo https://download.docker.com/linux/fedora/docker-ce.repo
    creates: /etc/yum.repos.d/docker-ce.repo

- name: Install packages
  become: true
  ansible.builtin.package:
    name: "{{ item }}"
  loop: "{{ packages }}"

- name: Run lpf update
  become: true
  command: lpf update

- name: Create directories
  ansible.builtin.file:
    path: "{{ item }}"
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0755"
    state: directory
  loop: "{{ directories }}"

- name: Install yq
  ansible.builtin.get_url:
    url: "https://github.com/mikefarah/yq/releases/download/v4.48.1/yq_linux_amd64"
    dest: ~/.local/bin/yq
    owner: "{{ ansible_user_uid }}"
    group: "{{ ansible_user_gid }}"
    mode: "0755"
    
- name: Clone linux-scripts
  ansible.builtin.git:
    repo: git@github.com:bartlettt/linux-scripts.git
    dest: ~/code/linux-scripts
    version: master
    update: false

- name: Check for kubectl
  ansible.builtin.stat:
    path: ~/.local/bin/kubectl
  register: kubectl_file

- name: Install Kubernetes Binary Manager
  when: not kubectl_file.stat.exists
  block:
    - name: Create tmp directory
      ansible.builtin.file:
        path: /tmp/kubernetes-binaries-managers
        owner: "{{ ansible_user_uid }}"
        group: "{{ ansible_user_gid }}"
        mode: "0755"
        state: directory
    - name: Download Kubernetes Binary Manager archive
      ansible.builtin.unarchive:
        src: "https://github.com/little-angry-clouds/kubernetes-binaries-managers/releases/download/v1.0.0/kubernetes-binaries-managers_1.0.0_linux_amd64.tar.gz"
        dest: /tmp/kubernetes-binaries-managers
        remote_src: true
    - name: Copy files
      ansible.builtin.copy:
        src: "/tmp/kubernetes-binaries-managers/{{ item.src }}"
        dest: "~/.local/bin/{{ item.dest | default( item.src | basename ) }}"
        owner: "{{ ansible_user_uid }}"
        group: "{{ ansible_user_gid }}"
        mode: "0755"
        remote_src: true
      loop:
        - src: kubectl-linux-amd64/kbenv
        - src: kubectl-linux-amd64/kubectl-wrapper
          dest: kubectl
        - src: helm-linux-amd64/helmenv
        - src: helm-linux-amd64/helm-wrapper
          dest: helm 

- name: Clone tfenv
  ansible.builtin.git:
    repo: "https://github.com/tfutils/tfenv.git"
    dest: ~/.tfenv
    version: v3.0.0
    update: false

- name: Install pyenv
  block:
    - name: Clone pyenv
      ansible.builtin.git:
        repo: "https://github.com/pyenv/pyenv.git"
        dest: ~/.pyenv
        version: v2.6.11
        update: false
    - name: Compile pyenv
      ansible.builtin.shell:
        chdir: ~/.pyenv
        cmd: src/configure && make -C src
        creates: ~/.pyenv/src/realpath.o

- name: Check if awscli installed
  ansible.builtin.command: command -v aws
  changed_when: false
  failed_when: false
  register: awscli_command

- name: Install awscli
  when: awscli_command.rc != 0
  block:
    - name: Create directory
      ansible.builtin.file:
        path: /tmp/awscli
        owner: "{{ ansible_user_uid }}"
        group: "{{ ansible_user_gid }}"
        mode: 0755
        state: directory
    - name: Download zip
      ansible.builtin.unarchive:
        src: "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip"
        dest: /tmp/awscli
        remote_src: true
    - name: Install AWS CLI
      become: true
      ansible.builtin.shell:
        chdir: /tmp/awscli
        cmd: ./aws/install

- name: Configure git preferences
  community.general.git_config:
    name: "{{ item.name }}"
    value: "{{ item.value }}"
    scope: global
  loop: "{{ git_config }}"

- name: Enable Middle Click emulation
  become: true
  ansible.builtin.copy:
    src: middle-mouse-button.conf
    dest: /etc/X11/xorg.conf.d/middle-mouse-button.conf
    owner: root
    group: root
    mode: 0644

- name: Check for custom wallpaper file
  ansible.builtin.stat:
    path: /usr/share/backgrounds/custom.jpeg
  register: wallpaper_file
     
- name: Set wallpaper
  when: not wallpaper_file.stat.exists
  block:
    - name: Generate Wallpaper
      command: ~/code/linux-scripts/generate_wallpaper.sh
      register: generate_wallpaper
    - name: Download Wallpaper
      become: true
      ansible.builtin.get_url:
        url: "{{ generate_wallpaper.stdout }}"
        dest: /usr/share/backgrounds/custom.jpeg
        owner: root
        group: root
        mode: 0644
    - name: Set Wallpaper
      become: true
      community.general.ini_file:
        path: /etc/lightdm/lightdm-gtk-greeter.conf
        section: greeter
        option: background
        value: /usr/share/backgrounds/custom.jpeg
        backup: true
